aiofiles==22.1.0
aiohttp~=3.8.1
aiomysql==0.1.1
aiosqlite==0.17.0
attrs==20.3.0
bscscan-python==2.0.0
colorama==0.4.5
eth-utils==1.1.2
etherscan-python==2.1.0
mysql-connector-python==8.0.29
PyYAML==6.0
requests==2.27.1